:root {
  --primary: #FF69B4;
  --secondary: #FF00FF;
}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-secondary {
  background-color: var(--secondary);
  border-color: var(--secondary);
}

.badge-primary {
  background-color: var(--primary);
  color: #fff;
}

.badge-secondary {
  background-color: var(--secondary);
  color: #fff;
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}
