/*.RESET.*/
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}


/*.MINE.*/

.container {
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2em;
}

@media only screen and (min-width: 768px) {
    .container {
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }
}

.title {
    font-size: 4em;
    font-weight: 700;
    margin-bottom: 2em;
}

.image-col {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
}

.image-col img {
    object-fit: contain;
}